/* SUMMARY

.VARIABLES

*/

/* COLORS
================================================================================= */
$white: #ffffff;
$black: #000000;
$grey: #dedede;
$dark-grey: #374151;


/* SPACINGS
================================================================================= */
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 3rem;