/* SUMMARY

.VARIABLES

*/

/* COLORS
================================================================================= */
$white: #ffffff;
$black: #000000;
$grey: #dedede;
$dark-grey: #374151;


/* SPACINGS
================================================================================= */
$m-1: 0.5rem;
$m-2: 1rem;
$m-3: 1.5rem;
$m-4: 2rem;
$m-5: 3rem;