/* SUMMARY
    .GLOBAL SETTINGS
*/

@import "variables";

/* WEBFONTS
================================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


/* GLOBAL SETTINGS
================================================================================= */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-m);
    font-weight: 400;
    background-color: var(--color-white);
    color: var(--color-black);
    opacity: 0;

    * {
        line-height: 1.5em;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight-bold);
}
h2 {
    font-size: var(--font-size-l);

}
h3 {
    font-size: var(--font-size-m);
}
h4 {
    font-size: var(--font-size-s);
}
h5 {
    font-size: var(--font-size-xs);
}
a {
    text-decoration: none;
    color: var(--color-black);
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
button {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-m);
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    appearance: none;
}
main {
    opacity: 1;
    transition: .7s opacity;
}
#smooth-wrapper,
#smooth-content {
	// touch-action: none;

	* {
        will-change: transform;
	}
}
#smooth-content {
    padding-bottom: var(--space-between-block);
}
.block {
    margin-top: var(--space-between-xl);
    opacity: 0;

    + .block {
        margin-top: var(--space-between-block);
    }
}


/* CUSTOM LIST
================================================================================= */
.custom-list {

    &__title {
        font-size: var(--font-size-M);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        display: block;

        + ul {
            margin-top: var(--space-between-m);
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--space-between-xs);
        align-self: flex-start;

        li {
            position: relative;
            padding-left: 15px;
            
            &::before {
                content: '';
                display: block;
                background-color: var(--color-black);
                width: 5px;
                height: 5px;
                border-radius: 100%;
                position: absolute;
                top: 10px;
                left: 0;
            }
        }
    }
}


/* WYSIWYG
================================================================================= */
.wysiwyg {

    > * + * {
        margin-top: var(--space-between-m);
    }

    h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
        margin-top: var(--space-between-l);
    }
}


/* IMG OVERFLOW
================================================================================= */
.img-overflow {
    overflow: hidden;
    border-radius: 20px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: .7s transform;
    }

    &:hover {

        img {
            transform: scale(1.2);
        }
    }
}


/* SPACER
================================================================================= */
.spacer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color-light-grey);
    }
}


/* MAIN TITLE
================================================================================= */
.mainTitle {
    display: none;
}


/* MAIN HEADER
================================================================================= */
.mainHeader {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 99;
    position: fixed; 
    top: 0;
    left: 0;
    visibility: visible;
    transition: .3s box-shadow;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.52);
    min-height: calc(100px + var(--mainHeader-height));

    .burger-menu {
        display: none;
    }

    &--fixed {
        visibility: hidden;
    }

    &--hidden {
        visibility: hidden;
        height: auto;
        

        &.mainHeader--visible {
            visibility: visible;
        }
    }

    &--visible {
        height: auto !important;
        min-height: unset !important;
        visibility: visible;
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.30);
    }

    .menu {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        width: 100%;
        height: var(--mainHeader-height);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 var(--padding-block);
        background-color: var(--color-white);
        
        &__list {
            display: flex;
            align-items: center;
            gap: var(--space-between-s);
            list-style: none;
            max-width: var(--max-width-container);
        }

        &__link {
            transition: .3s color;
            padding: 5px;
            display: block;

            &.menu__link--active,
            &:active {
                color: var(--color-light-grey);
            }

            @media only screen and (min-width : 800px) {
                &:hover {
                    color: var(--color-light-grey);
                }
            }
        }
    }
}


/* BURGER MENU
================================================================================= */
.burger-menu {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-between-s);
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    transition: .3s background-color;
    height: 100%;

    &__burger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        width: 20px;
        height: 16px;

        span {
            display: block;
            border: 1px solid var(--color-black);
            border-radius: 9999px;
            width: 100%;
            transition: .3s transform;
        }
    }

    &[aria-expanded="true"] {

        + .menu {
            visibility: visible;
            transform: translateX(0);

            &::before {
                opacity: 0.5;
            }
        }
    }

    &:active {
        background-color: var(--color-light-grey);
    }
}


/* BURGER MENU CLOSE
================================================================================= */
.burger-menu-close  {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-between-s);
    font-weight: 700;
    padding: 5px;
    position: absolute;
    top: calc(var(--padding-block) - 5px);
    right: calc(var(--padding-block) - 5px);
    transition: .3s background-color;
    border-radius: 5px;
    display: none;

    &__burger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        width: 22px;
        height: 22px;

        span {
            display: block;
            border: 1px solid var(--color-black);
            border-radius: 9999px;
            width: 100%;
            transition: .3s transform;

            &:nth-child(1) {
                transform: translateY(4px) rotate(45deg);
            }
    
            &:nth-child(2) {
                transform: translateY(-4px) rotate(-45deg);
            }
        }
    }

    &:active {
        background-color: var(--color-light-grey);
    }
}


/* BLOCK HEADER
================================================================================= */
.block-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--padding-block) var(--padding-block) 0;
    will-change: unset !important;
    min-height: calc(100px + var(--mainHeader-height));

    * {
        will-change: unset !important;
    }

    &__background {
        width: 100%;
        height: calc(100% - var(--mainHeader-height) - var(--padding-block));
        display: flex;
        justify-content: center;
        transition: .3s height;
        max-width: var(--max-width-container);

        svg {
            display: block;
            width: 100%;
            height: 100%;

            path {
                stroke: var(--color-black);
                stroke-width: 10;
                fill: transparent;
                transition: .3s fill;
            }
        }
    }

    &--fill {

        svg {
    
            path {
                fill: var(--color-black);
            }
        }
    }
}

body:has(main[data-barba-namespace="default"]) .block-header {

    &__background {
        height: calc(100% - var(--mainHeader-height));
    }
}


/* BLOCK PRESENTATION
================================================================================= */
.block-presentation {
    padding: 0 var(--padding-block);
    display: flex;
    justify-content: center;

    &__container {
        max-width: var(--max-width-container-xs);
        display: grid;
        align-items: center;
        grid-template-columns: 57% 1fr;
        grid-template-rows: auto auto;
        gap: var(--space-between-l);
    }

    .img-overflow {
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 9999px;
    }

    .wysiwyg {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .custom-list {
        align-self: flex-start;
    }
}


/* BLOCK CONTENT
================================================================================= */
.block-content {
    padding: 0 var(--padding-block);
    display: flex;
    justify-content: center;
    width: 100%;

    &__container {
        width: 100%;
        max-width: var(--max-width-container);
        display: flex;
        flex-direction: column;
        gap: var(--space-between-m);
    }

    .img-overflow {
        max-height: calc(100vh - 25vh - var(--space-between-xl) - var(--padding-block) + 1px);
        min-height: 400px;
    }
}


/* MAIN FOOTER
================================================================================= */
.mainFooter {
    width: 100%;
    margin-top: var(--space-between-block);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 100%;
        max-width: var(--max-width-container);
        display: flex;
        justify-content: center;
    }

    ul {
        display: flex;
        gap: var(--space-between-m);

        li {

            a {
                height: 40px;
                width: 40px;
                background-color: var(--color-light-grey);
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s background-color;

                svg {
                    display: block;
                    width: 50%;
                }

                &:active {
                    background-color: var(--color-dark-grey);
                }

                @media only screen and (min-width : 800px) {

                    &:hover {
                        background-color: var(--color-dark-grey);
                    }
                }
            }
        }
    }
}



/* MEDIA QUERIES - DEVICE < 800px
================================================================================= */
@media only screen and (max-width : 800px) {

    /* MainHeader */
    .mainHeader {
        transition: .3s opacity, .3s box-shadow;
    
        &--hidden {
            height: var(--mainHeader-height) !important;
            background-color: var(--color-white);
            align-items: center;
            opacity: 0;
            min-height: unset !important;
            max-height: 60px !important;

            &.mainHeader--visible {
                opacity: 1;
            }

            .menu {
                top: 0;
                left: unset;
                right: 0;
                width: 90%;
                height: 100% !important;
                position: fixed;
                visibility: hidden;
                transform: translateX(100vw);
                transition: .3s transform;
                z-index: 1;
                padding: 0 !important;
                justify-content: flex-end;

                &::before {
                    content: '';
                    display: block;
                    height: 100vh;
                    width: 100vw;
                    background-color: var(--color-black);
                    position: fixed;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    opacity: 0;
                    transition: .6s opacity;
                }

                &__list {
                    width: 100%;
                    height: 100%;
                    max-width: unset;
                    padding: var(--padding-block);
                    background-color: var(--color-white);
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
            
            .burger-menu {
                display: flex;
            }

            .burger-menu-close {
                display: flex;
            }
        }

        .menu {
            height: auto;
            padding: var(--padding-block);

            &__list {
                flex-direction: column;
                gap: var(--space-between-xs);
            }

            &__link {
                padding: 3px 5px;
            }
        }
    }

    body:has(main[data-barba-namespace="default"]) .mainHeader:not(.mainHeader--hidden) {
        min-height: fit-content !important;
        padding-top: 80px;

        .menu {
            padding-bottom: 0;
        }
    }

    body:has(main[data-barba-namespace="default"]) .block-header {
        min-height: 212px + 80px;

        &__background {
            height: calc(100% - 212px);
        }
    }

    body:has(main[data-barba-namespace="home"]) .block-header {

        &__background {
            max-height: calc(100% - 232px - var(--padding-block));
        }
    }


    /* Block Presentation */
    .block-presentation {
    
        &__container {
            display: flex;
            flex-direction: column;
        }
    }
}