/* SUMMARY

.GLOBAL SETTINGS

*/

@import "_variables";


/* GLOBAL SETTINGS
================================================================================= */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	-webkit-font-smoothing: antialiased;
	font-family: "Poppins";
	font-weight: normal;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	background: $grey;
	color: $dark-grey;
	padding: 0 20px;
	padding-bottom: 50px !important;
}
a {
	text-decoration: none;
	color: $dark-grey;
	cursor: pointer;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 36px;
	line-height: 42px;
	font-weight: 700;
	margin-bottom: $mb-2;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}
h3 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
}
h4 {
	margin: 0;
	padding: 0;
	font-size: 21px;
	line-height: 27px;
}
p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}
ul li {
	list-style: none;
}
ul {
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
	display: block;
}
button {
	padding: 0;
	margin: 0;
	background: 0;
	border: 0;
	cursor: pointer;
}
section {
	padding-top: 70px;
	transition: .5s opacity;
	max-width: 1280px;
	margin: 0 auto;
}


/* COMMON
================================================================================= */
/* Underline animation */
.underline-animation {
	position: relative;

	&::after {
		content: '';
		width: 0;
		height: 1px;
		background: $dark-grey;
		position: absolute;
		left: 0px;
		bottom: 0px;
		transition: .3s;
	}

	&:hover {

		&::after {
			width: 100%;
		}
	}
}

/* click to open */
.click-to-open {
	position: absolute;
	left: 0;
	top: -58px;
	width: 67px;
	transform: rotate(5deg);
	z-index: 1;
}

/* click to open animation */
.svg-animation {
	animation: neon 1.2s infinite alternate;

	path {
		fill: none;
		stroke: $dark-grey;
		stroke-width: 2px;
		stroke-dasharray: 32px;
		stroke-dashoffset: 32px;
		animation: draw 0.3s ease forwards;

		&:nth-child(1) {
			animation-delay: 0.5s;
		}
		&:nth-child(2) {
			animation-delay: 0.8s;
		}
		&:nth-child(3) {
			animation-delay: 1.1s;
		}
		&:nth-child(4) {
			animation-delay: 1.4s;
		}
		&:nth-child(5) {
			animation-delay: 1.7s;
		}
		&:nth-child(6) {
			animation-delay: 2s;
		}
		&:nth-child(7) {
			animation-delay: 2.3s;
		}
		&:nth-child(8) {
			animation-delay: 2.6s;
		}
		&:nth-child(9) {
			animation-delay: 2.9s;
		}
	}
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes neon {
	0% {
		filter: drop-shadow(0px 0px 1px #fff)
		drop-shadow(0px 0px 2px #fff)
		drop-shadow(0px 0px 5px $grey)
		drop-shadow(0px 0px 10px $dark-grey)
	}

	100% {
		filter: drop-shadow(0px 0px 2px #fff)
		drop-shadow(0px 0px 4px #fff)
		drop-shadow(0px 0px 7px $grey)
		drop-shadow(0px 0px 15px $dark-grey)
	}
}


/* WEB DEVELOPER
================================================================================= */
#web-developer {
}


/* GAMER
================================================================================= */
#gamer {

	.item {
		a {
			padding: 0;
		}
	}
}


/* PAINTER
================================================================================= */
#painter {
	position: relative;

	.click-to-open {
		top: 77px;
	}
}


/* TOP FIXED + CARD
================================================================================= */
.top-fixed {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0;

	/* card */
	.card {
		max-width: 670px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 4rem;
		background: $white;
		box-shadow: 0px 20px 40px 8px rgba(0,0,0,0.2);

		/* img */
		.img {
			height: 144px;
			width: 144px;
			border-radius: 100%;
			overflow: hidden;
			margin-bottom: $mb-2
		}

		/* title */
		h2 {
			font-size: 24px;
			line-height: 30px;
			font-weight: 400;
			margin-bottom: $mb-1;

			a {
				background: $grey;
				padding: 0 5px;
			}
		}

		/* p */
		p {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: $mb-4;
		}
	}
}


/* ITEM
================================================================================= */
.item {
	width: 100%;
	padding-bottom: 5rem;
	position: relative;
	

	a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 4rem;
		background: $white;
		box-shadow: 0px 20px 40px 8px rgba(0,0,0,0.2);

		/* img */
		.img {
			width: 48%;

			img {
				border: 2px solid #fff;
				border-radius: 10px;

				&:first-of-type {
					border: 2px solid #e2e2e2;
				}
			}
		}

		/* text */
		.text {
			width: 48%;

			/* title */
			h2 {
				position: relative;
				margin-bottom: $mb-2;
				display: inline-block;

				&::after {
					content: '';
					width: 0;
					height: 1px;
					background: $dark-grey;
					position: absolute;
					left: 0px;
					bottom: 0px;
					transition: .3s;
				}
			}
		}

		/* hover */
		&:hover {
			
			h2 {
				&::after {
					width: 100%;
				}
			}
		}
	}

	/* reverse odd */
	&:nth-child(2n) {

		a {
			flex-direction: row-reverse;
		}
	}
}


/* FILTERS + GRID
================================================================================= */
/* Filters
* -------------------------- */
.filters {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	background: $dark-grey;
	width: 300px;
	margin: 0 auto 30px;
	border-radius: 35px;
	position: relative;
	border: 5px solid $dark-grey;

	&:after {
		content: '';
		width: 33%;
		height: 100%;
		background: $grey;
		position: absolute;
		top: 0;
		left: 50%;
		border-radius: 35px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	&.filterLeft {
		&:after {
			transform: translateX(-150%);
		}
	}

	&.filterCenter {
		&:after {
			transform: translateX(-50%);
		}
	}

	&.filterRight {
		&:after {
			transform: translateX(50%);
		}
	}

	button {
		border: 0;
		margin: 0;
		padding: 0;
		background: 0;
		font-size: 16px;
		line-height: 20px;
		color: $white;
		cursor: pointer;
		border-radius: 25px;
		transition: 0.3s;
		position: relative;
		z-index: 1;
		width: 33.33%;

		&.is-checked {
			color: $dark-grey;
		}
	}
}

/* Grid
* -------------------------- */
.grid {
	display: flex;

	/* sizer */
	.grid-item,
	.grid-sizer {
		width: calc(25% - 15px);
		margin-bottom: 20px;
	}

	.gutter-sizer {
		width: 20px;
	}

	/* grid item */
	.grid-item {
		cursor: pointer;
		overflow: hidden;

		img {
			transition: .3s;
		}

		&:hover  img {
			transform: scale(1.1);
		}
	}
}


/* POP IN
================================================================================= */
.popIn {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: #ffffff;
	transition: 0.3s;
	padding: 5rem;
	opacity: 0;
	z-index: -1;
}
.popIn.open {
	opacity: 1;
	z-index: 5;
}
	/* Close button */
	.popIn button.close {
		position: absolute;
		top: 40px;
		right: 40px;
		width: 20px;
		height: 20px;
	}
	.popIn button.close::before {
		content: "";
		background: rgba(0, 0, 0, 0.75);
		width: 1px;
		height: 25px;
		position: absolute;
		bottom: -2px;
		left: 10px;
		transform: rotate(45deg);
	}
	.popIn button.close::after {
		content: "";
		background: rgba(0, 0, 0, 0.75);
		width: 1px;
		height: 25px;
		position: absolute;
		bottom: -2px;
		left: 10px;
		transform: rotate(-45deg);
	}

	/* Img */
	.popIn img {
		width: auto;
		height: max-content;
		max-height: 100%;
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}


/* HACK INTERNET EXPLORER
================================================================================= */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}


/* MEDIA QUERIES - DEVICE < 1500px
================================================================================= */
@media only screen and (max-width : 1500px) {}


/* MEDIA QUERIES - DEVICE < 1300px
================================================================================= */
@media only screen and (max-width : 1300px) {}


/* MEDIA QUERIES - DEVICE < 1024px
================================================================================= */
@media only screen and (max-width : 1024px) {}


/* MEDIA QUERIES - DEVICE < 980px
================================================================================= */
@media only screen and (max-width : 980px) {

	/* Global */
	body {
		padding-bottom: 0 !important;
	}
	.click-to-open {
		top: -45px;
		width: 50px;
	}
	#painter .click-to-open {
		top: 140px;
	}

	/* Top fixed + card */
	.top-fixed {
		.card {
			padding: 4rem 1rem 4rem 1rem;
		}
	}

	/* Item */
	.item {
		padding-bottom: 5rem;

		a {
			flex-direction: column;
			padding: 2rem 1rem;

			.img {
				width: 100%;
				margin-bottom: 30px;
			}

			.text {
				width: 100%;
			}
		}

		&:nth-child(2n) {
			a {
				flex-direction: column;
			}
		}
	}

	/* Filters */
	.filters {
		margin-bottom: 75px;
	}

	/* Grid */
	.grid {

		.grid-item,
		.grid-sizer {
			width: calc(50% - 5px);
			margin-bottom: 10px;
		}

		.gutter-sizer {
			width: 10px;
		}

		/* grid item */
		.grid-item {
			cursor: pointer;
			overflow: hidden;

			img {
				transition: .3s;
			}

			&:hover  img {
				transform: scale(1.1);
			}
		}
	}

	/* Pop in */
	.popIn {
		padding: 0;

		button.close {
			top: 15px;
			right: 15px;
		}
	}
}


/* MEDIA QUERIES - DEVICE < 500px
================================================================================= */
@media only screen and (max-width : 500px) {}
	