/* SUMMARY

.VARIABLES

*/

html:root {
    --color-white: #f4f4f4;
    --color-green: #c5f44d;
    --color-pink: #ff4980;
    --color-purple: #833adf;
    --color-blue: #68e1ea;
    --color-dark-blue: #0060ff;
    --color-gold: #c28f2b;
    --color-dark-grey: #383838;
    
    --background-color: var(--color-white);
    --text-color: var(--color-dark-grey);

    --page-padding: 7.8125rem 1.25rem 2.8125rem;
    --page-margin: 1.75rem;
    --page-margin-mobile: 1rem;
}