/* SUMMARY

.VARIABLES

*/

html:root {
    --color-white: #FFFFFF;
    --color-orange: #FF6510;
    --color-blue-2: #39A8E5;
    --color-blue: #003DA5;
    --color-turquoise: #4BC9AB;

    --font-montserrat: 'Montserrat', sans-serif;
    --font-salome: 'Salome', sans-serif;
}