/* SUMMARY
    .GLOBAL SETTINGS
*/

@import "_variables";

/* WEBFONTS
================================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/* GLOBAL SETTINGS
================================================================================= */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}
body {
    font-family: var(--font-raleway);
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-black);
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: var(--font-alpha);
    letter-spacing: 0.05em;
    font-weight: 400;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--color-black);
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: currentColor;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        transition: .2s width;
    }

    &:hover {

        &::after {
            width: 100%;
        }
    }
}
button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
    letter-spacing: inherit;
}
ul li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
main {
    overflow: hidden;
    padding-top: var(--height-mainHeader);
    opacity: 0;
    transition: .1s opacity;
}
.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-2xl) var(--padding-xl);
}
.imgEffect {
    overflow: hidden;
    display: flex;
    height: fit-content;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .3s;
    }

    &:hover {

        img {
            transform: scale(1.2);
        }
    }
}
.cta {
    width: fit-content;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid var(--color-white);
    transition: .3s;

    &:hover {
        background: var(--color-black);
        color: var(--color-white);
    }
}
.socials {
    display: flex;
    align-items: center;
    gap: var(--space-between-sm);

    li {
        width: 14px;

        &.facebook {
            width: 9px;
        }

        a {
            width: 100%;
            display: flex;

            &::after {
                display: none;
            }

            svg {
                display: block;
                width: 100%;

                path {
                    transition: .2s;
                }
            }

            &:hover {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}


/* Intro
* -------------------------- */
.intro {
    position: fixed;
    width: 100%;
    height: 100svh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0s opacity;
    opacity: 1;
    
    &__container {
        max-width: calc(var(--max-w-block) + calc(var(--padding-xl) * 2));
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .7s;
        padding: 0 var(--padding-xl);
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-position: center;
        object-fit: cover;
        opacity: 1;
        transition: .5s opacity;

        &.hidden {
            opacity: 0;
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-white);
        transition: .7s width, .7s left, .7s top, .7s transform, .1s opacity;
        width: 90vw;
        display: block;
        opacity: 0;

        svg {
            width: 100%;
            display: block;

            path {
                fill: transparent;
                transition: .3s;
            }
        }
        
        &--fill {

            svg {
                 path {
                    fill: currentColor;
                }
            }
           
        }
    }

    &__text {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 12vh;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        font-family: var(--font-montserrat);
        font-size: 2vw;
        letter-spacing: 0.7em;
        text-transform: uppercase;
        transition: .3s transform, .1s opacity;
        opacity: 0;
    }

    &--fixed {

        img {
            opacity: 0;
        }
        
        .intro__container {
            top: 0;
            transform: translate(-50%, 0);
            height: var(--height-mainHeader);
        }

        .intro__logo {
            left: var(--padding-xl);
            width: 38px;
            transform: translate(0, -50%);
        }

        .path1 {
            transform: translate(20%, -13%);
        }

        .path2 {
            transform: translate(20%, -13%);
        }

        .path3 {
            transform: translate(-20%, 13%);
        }

        .path4 {
            transform: translate(-20%, 13%);
        }

        .intro__text {
            transform: translateX(-5000px);
        }
    }

    &--hidden {
        display: none;
    }

    &--green {
        svg {
            path {
                fill: var(--color-green);
                stroke: var(--color-green);
            }
        }
    }
}

/* Header
* -------------------------- */
.mainHeader {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 99;
    color: var(--color-black);
    padding: var(--padding-sm) var(--padding-xl);
    transition: background-color .4s, .1s opacity;
    min-height: var(--height-mainHeader);
    height: var(--height-mainHeader);
    opacity: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient( to bottom, var(--color-white) 0%, var(--color-white) 40%, transparent 100%);
        transition: opacity .6s;
        z-index: -1;
        background: var(--color-white);
    }

    &--scrolled {
        background-color: var(--color-white);

        &::before {
            opacity: 1;
        }
    }

    &__container {
        width: 100%;
        max-width: var(--max-w-block);
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-between-lg);
    }

    &__logoSocials {
        display: flex;
        align-items: center;
        gap: var(--space-between-xs);
    }

    &__logo {
        width: var(--height-mainHeader);
        height: var(--height-mainHeader);
        color: var(--color-green);
        display: block;
        opacity: 0;
        transition: 0s;

        &--display {
            opacity: 1;
        }

        &::after {
            display: none;
        }

        svg {
            width: 100%;
            display: block;
            color: var(--color-green);

            path {
                color: var(--color-green);
                fill: var(--color-green);
                stroke: var(--color-green);
            }
        }
        
        .path1 {
            transform: translate(20%, -13%);
        }

        .path2 {
            transform: translate(20%, -13%);
        }

        .path3 {
            transform: translate(-20%, 13%);
        }

        .path4 {
            transform: translate(-20%, 13%);
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--space-between-lg);
        }
    }

    &__contact {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}


/* Banner
* -------------------------- */
.banner {
    position: relative;
    width: 100%;
    min-height: 400px;
    height: 55svh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.3);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        object-position: center;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        color: var(--color-white);
        text-align: center;
        max-width: var(--max-w-block);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__controls {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        gap: var(--space-between-md);
        
        button {
            border-radius: 9999px;
            border: 2px solid var(--color-white);
            min-width: 40px;
            width: 40px;
            min-height: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.8;
            transition: .3s opacity;

            &:hover {
                opacity: 1;
            }

            svg {
                width: 40%;
                display: block;
            }

            &.mute-unmute {
                svg {
                    width: 50%;
                }
            }

            .svgPlayed {
                display: none;
            }

            .svgUnmuted {
                display: none;
            }

            &.paused {

                .svgPlayed {
                    display: block;
                }

                .svgPaused {
                    display: none;
                }
            }

            &.muted {

                .svgUnmuted {
                    display: block;
                }

                .svgMuted {
                    display: none;
                }
            }
        }
    }

    .scrollToFirst {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            transition: .2s transform;
        }

        &:hover {

            svg {
                transform: translateY(3px);
            }
        }
    }
}


/* Hero
* -------------------------- */
.hero {

    &__container {
        max-width: var(--max-w-block);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-between-xl);
    }

    &__title {
        grid-column: 1/-1;
        text-align: center;
    }

    &__img {
        grid-column: span 1;
        grid-column-start: 1;
        grid-row-start: 2;
        width: 60%;
        border-radius: 15px;
        display: flex;

        &--2 {
            width: 45%;
            justify-self: flex-end;
            align-self: center;
            height: 70%;
            z-index: 1;
        }
    }

    &__text {
        grid-column: span 1;
        display: flex;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: var(--space-between-md);

            li {
                display: flex;
                gap: var(--space-between-md);
                align-items: center;
                
                &::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 10px;
                    border-left: 2px solid var(--color-white);
                    border-bottom: 2px solid var(--color-white);
                    transform: rotate(-45deg);
                }
            }
        }
    }
}


/* Presentation
* -------------------------- */
.presentation {

    &__container {
        max-width: var(--max-w-block);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-between-xl);
    }

    &__img {
        grid-column: 1/-1;
        grid-column-start: 1;
        width: 30%;
        border-radius: 15px;
        display: flex;
        justify-self: center;
    }

    &__text {
        text-align: center;
    }
}   


/* Form
* -------------------------- */
.carousel {
    padding-left: 0;
    padding-right: 0;

    .mySwiper {
        img {
            display: block;
            width: 100%;
        }
    }
}


/* FAQ
* -------------------------- */
.faq {

    &__container {
        max-width: var(--max-w-block);
        width: 100%;
        display: flex;
        flex-direction: column;

        > * {
            border: 1px solid var(--color-white);
            border-bottom: 0px solid;

            &:last-child {
                border-bottom: 1px solid var(--color-white);
            }
        }
    }

    &__item {
        width: 100%;
       
    }

    &__header {
        button {
            width: 100%;
            padding: var(--space-between-lg);
        }
    }

    &__content {
        padding: var(--space-between-lg);
        padding-top: 0;
        display: none;
    }
}


/* Form
* -------------------------- */
.form {

    &__container {
        max-width: var(--max-w-block);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--space-between-xl);
    }

    &__title {
        grid-column: 1/-1;
        text-align: center;
    }

    &__left {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-between-lg);

        a {
            color: var(--color-white);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-between-sm);

            svg path {
                transition: .3s;
            }

            &:hover {
                
                svg path {
                    fill: var(--color-light-grey-2);
                }
            }
        }

        svg {
            width: 24px;
        }

        .socials {
            gap: var(--space-between-md);

            li {
                width: 22px;
                
                &.facebook {
                    width: 13px;
                }

                a {
                    &:hover {
                        color: var(--color-light-grey-2);
                    }
                }
            }
        }
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--space-between-md);

        fieldset {
            appearance: none;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font: inherit;
            color: inherit;
            text-align: inherit;
            display: flex;

            &:has(textarea) {
                grid-column: 1/-1;
            }
        }
        
        input, textarea {
            width: 100%;
            appearance: none;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font: inherit;
            color: inherit;
            text-align: inherit;
            background-color: var(--color-white);
            padding: 5px;
            color: var(--color-black);
        }

        button[type="submit"] {
            grid-column: 1/-1;
            place-self: center;
        }
    }
}



.contact‑map {
  flex: 1 1 300px;
  height: 300px;
  border: 1px solid #ddd;
}

@media only screen and (max-width : 1200px) {
}