/* RECRUITMENT
================================================================================= */

/* Header
* -------------------------- */
.recruitment__header {
    width: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
    padding: var(--spacer-block) var(--padding-block);
    position: relative;

    &__subtitle {
        font-family: var(--font-playfair);
        font-size: 50px;
        font-style: italic;
        font-weight: 400;
        line-height: 100%;
    }

	&__title {
		font-family: var(--font-open-condensed);
		font-size: var(--font-size-xxl);
		font-weight: 700;
		line-height: 77.336%;
		text-transform: uppercase;
        margin-bottom: 60px;

        span {
            display: block;

            &:last-of-type {
                padding-left: 32%;
            }
        }
	}

	&__intro {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		font-family: var(--font-playfair);
		font-style: italic;
		font-size: 28px;
		font-weight: 400;
		line-height: 145%;

		p {
			grid-column: 5 / 12;
		}
	}
}


/* Steps
* -------------------------- */
.recruitment__steps {
    width: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
    padding: 0 var(--padding-block) var(--spacer-block) var(--padding-block);

    > ul {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__head {
        width: 100%;
        display: grid;
        align-items: center;
        margin-bottom: 40px;
        grid-template-columns: repeat(12, 1fr);

        span {
            color: var(--color-blue-dark);
            font-family: var(--font-playfair);
            font-size: 180px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            letter-spacing: -3.6px;
            margin-top: -50px;
            grid-column: 1 / 4;
        }

        h2 {
            color: var(--color-blue-dark);
            font-family: var(--font-playfair);
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            grid-column: 5 / 12;
        }
    }

    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        > ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            grid-column: 1 / 5;
            padding-top: 30px;
            border-top: 1px solid var(--color-blue-dark);

            li {
                width: fit-content;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                border-radius: 40px;
                border: 1px solid var(--color-blue-dark);
                padding: 10px 15px;
            }
        }

        > div {
            padding-top: 30px;
            border-top: 1px solid var(--color-blue-dark);
            grid-column: 5 / 13;

            p {
                margin-bottom: 8px;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}


/* Jobs
* -------------------------- */
.recruitment__jobs {
    width: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
    padding: var(--spacer-block) var(--padding-block);

    > h2 {
        font-family: var(--font-open-condensed);
        color: var(--color-blue-dark);
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__container {
        width: 100%;
    }

    .swiper-container {
        overflow: hidden;
        margin-left: -1px;
    }

    &__item {
        width: auto;
        transform-origin: top;
        padding: 30px;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        border: 1px dashed var(--color-blue-dark);
        transition: .3s background-color;

        svg {

            circle {
                fill: var(--color-white);
                transition: .3s fill;
            }
            
            path {
                fill: var(--color-blue-dark);
                transition: .3s fill;
            }
        }

        &__job {
            text-align: center;
            font-size: clamp(20px, 2.5vw, 35px);
            line-height: 100%;
            font-family: var(--font-playfair);
            transition: .3s color;
        }

        &__contrat {
            text-align: center;
            font-size: 15px;
            font-weight: 800;
            line-height: 100%;
            letter-spacing: -0.15px;
            text-transform: uppercase; 
            margin-top: auto;
            min-width: max-content;
            transition: .3s color;
        }

        &:hover {
            background-color: var(--color-blue-dark);
            color: var(--color-white);

            svg {

                circle {
                    fill: var(--color-blue-dark);
                }
                path {
                    fill: var(--color-white);
                }
            }
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        &__prev,
        &__next {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-blue-dark);
            border-radius: 50%;
        }
    }

    &.is-locked {
        .recruitment__jobs__nav {
            display: none;
        }
    }
}


/* MEDIA QUERIES - DEVICE < 900px
================================================================================= */
@media only screen and (max-width : 900px) {
    .recruitment__header {

        &__subtitle {
            font-size: 24px;
            font-weight: 400;
            line-height: 100%;
        }

        &__title {
            margin-bottom: 30px;
            
            span {
                font-size: 80px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                text-transform: uppercase;

                &:last-of-type {
                    padding-left: 23%;
                }
            }
        }

        &__intro {

			p {
				grid-column: 1/13;
				font-size: 22px;
				font-style: italic;
				font-weight: 400;
				line-height: 145%;
				letter-spacing: -0.22px;
			}
		}
    }

    .recruitment__steps {

        > ul {
            gap: 30px;
        }

        &__head {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;

            span {
                margin: 0;
                font-size: 140px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                letter-spacing: -2.8px;
            }

            h2 {
                font-size: 35px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;

            > ul {

                li {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
            }

            > div {
                border: 0;

                p {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
        }
    }

    .recruitment__jobs {
        padding-bottom: 0;

        &__item {

            &:hover {
                background-color: var(--color-white);
                color: var(--color-blue-dark);
    
                svg {
    
                    circle {
                        fill: var(--color-white);
                    }
                    path {
                        fill: var(--color-blue-dark);
                    }
                }
            }
        }
    }
}