/* VARIABLES
================================================================================= */

:root {
    
    /* Webfonts
	* -------------------------- */
    --font-playfair: 'Playfair Display', serif;
    --font-open: 'Open Sans', sans-serif;
    --font-open-condensed: 'Open Sans Condensed';

    /* Font sizes
	* -------------------------- */
    --font-size-l: clamp(30px, 7vw, 75px);
    --font-size-xl: clamp(40px, 5.6vw, 100px);
    --font-size-xxl: clamp(40px, 15vw, 214px);

	/* Colors
	* -------------------------- */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue-dark: #0F0F23;
    --color-pink: #DF0C35;
    --menu-white: #ffffff;
    --menu-pink: #DF0C35;

    /* Paddings
	* -------------------------- */
    --padding-block: 60px;
    --spacer-block: 60px;

    /* Heights
	* -------------------------- */
    --height-mainHeader: 100px;
    --height-block: calc(100dvh - var(--height-mainHeader));
    --height-mainFooter: 92px;

    /* Max Width Block
	* -------------------------- */
    --max-w-block: 1320px;

    /* Darkmode
	* -------------------------- */
    .darkMode {
		--color-white: #0F0F23;
		--color-black: #000000;
		--color-blue-dark: #ffffff;
		--color-pink: #DF0C35;
	}

    /* MEDIA QUERIES - DEVICE < 900px
    ================================================================================= */
    @media only screen and (max-width : 900px)  {
        
        /* Paddings
        * -------------------------- */
        --padding-block: 20px;
        --spacer-block: 40px;

         /* Font sizes
        * -------------------------- */
        --font-size-xxl: clamp(40px, 40vw, 125px);
    }
}